.list-values{
    // border: 3px solid green;
    width: fit-content;
    // width: 90vw;
    margin: auto;
}

.value{
    margin: 2vw;
}

@media(max-width: 425px){
    .list-values{
        margin: 2vh auto;
    }
}