.banner{
    width: 90vw;
    min-height: 180px;
    height: 15vh;
    display: flex;
    margin: auto;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(34, 31, 33, 0.3);
    .bannerSentence{
        color: white;
        text-align: center;
        letter-spacing: 2px;
        font-size: 2rem;
        margin: auto;
    }
}

@media(max-width: 425px){
    .banner{
        position: relative;
        border-radius: 10px;
        background-position:right;
        background-size:130%;
        .bannerSentence{
            position: absolute;
            bottom: 16%;
            left: 3%;
            width: 69%;
            font-size: 1.6rem;
            letter-spacing: normal;
            text-align: left;
        }
    }
    #small{
        min-height: 111px;
        height: 111px;
        width: 91vw;
    }
    #large{
        height: 25vh;
    }
}