#carousel{
    // min-height: 50vh;
    .slider-wrapper {
        // height: 50vh;
        // max-height: 460px;
        // width: 1240px;
        width: 90vw;
        height: 415px;
        // margin: 1rem;
        margin: 1rem auto;
        position: relative;
        overflow: hidden;
        border-radius: 25px;
      }
      
      .slides-container {
        height: calc(100vh - 2rem);
        width: 100%;
        display: flex;
        overflow: scroll;
        scroll-behavior: smooth;
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      .slide-arrow {
        position: absolute;
        display: flex;
        top: 35%;
        // bottom: 0;
        margin: auto;
        height: 4rem;
        // background-color: white;
        color: white;
        border: none;
        width: 2rem;
        font-size: 7rem;
        padding: 0;
        cursor: pointer;
        // opacity: 0.5;
        transition: opacity 100ms;
        background-color: transparent;
      }
      
      .slide-arrow:hover,
      .slide-arrow:focus {
        opacity: 1;
      }
      
      #slide-arrow-prev {
        left: .9%;
        // padding-left: 0.25rem;
        border-radius: 0 2rem 2rem 0;
      }
      
      #slide-arrow-next {
        right: 2%;
        padding-left: 0.75rem;
        // border-radius: 2rem 0 0 2rem;
        background-color: transparent;
      }
      
      .slide {
        width: 100%;
        // height: 100%;
        flex: 1 0 100%;
      }
      .current-picture-count{
        color: black;
        position: absolute;
        top: 95%;
        left: 50%;
        font-size: 1rem;
      }

      .hidden{
        display: none;
      }
      
      @media(max-width: 425px){
        .slider-wrapper{
          height: 300px;
        }

      }
}