#carousel{
    .slider-wrapper {
        width: 90vw;
        height: 50vh;
        margin: 1rem auto;
        position: relative;
        overflow: hidden;
        border-radius: 25px;
      }
      
      .slides-container {
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        display: flex;
        scroll-behavior: smooth;
        list-style: none;
        margin: 0;
        padding: 0;     
      }
      .slide {
        flex-shrink: 0; // Allow the slides to maintain their original width
        height: 100%; // Set the height of the slide to fill the container
        object-fit: cover; // Maintain aspect ratio without distortion
        aspect-ratio: 12/5; //define a ratio to resize the image instead of setting explicit dimensions
      }

      
      .slide-arrow {
        position: absolute;
        display: flex;
        top: 35%;
        margin: auto;
        height: 4rem;
        color: white;
        border: none;
        width: 2rem;
        font-size: 7rem;
        padding: 0;
        cursor: pointer;
        transition: opacity 100ms;
        background-color: transparent;
      }
      
      .slide-arrow:hover,
      .slide-arrow:focus {
        opacity: 1;
      }
      
      #slide-arrow-prev {
        left: .9%;
      }
      
      #slide-arrow-next {
        right: 2%;
        padding-left: 0.75rem;
        background-color: transparent;
      }
      
      .slide {
        width: 100%;
        flex: 1 0 100%;
      }
      .current-picture-count{
        color: white;
        position: absolute;
        bottom: 6%;
        left: 50%;
        font-size: 1rem;
      }
      .hidden{
        display: none;
      }
      @media(max-width: 1024px){
        .slide {
          aspect-ratio: 16/10;
        }
      }
      @media(max-width: 768px){
        .slide {
          aspect-ratio: 12/10;
        }
      }
      @media(max-width: 425px){
        .slider-wrapper{
          height: 300px;
        }
        .slide {
          aspect-ratio: 12/10;
        }
  
        .slide-arrow {
          top: 33%;
          font-size: 5rem;
        }
        #slide-arrow-prev {
          left: 2%;
        }
        
        #slide-arrow-next {
          right: .1%;
          padding-left: 0;
          background-color: transparent;
        }
        
        .current-picture-count{
          display: none;
        }
      }
      @media(max-width: 375px){
        .slide {
          aspect-ratio: 12/11;
        }
      }
}