.large-size{
    // border: 1px solid red;
    width: 75vw;
    margin: 2.5vh 0;
}

.medium-size{
    width: 42vw;
}

.header{
    padding: 1vw 0 1vw 1.3vw;
    background-color: #FF6060;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    span{
        color: #F6F6F6;
    }

    .chevron::before {
        border-style: solid;
        border-width: 0.25em 0.25em 0 0;
        content: '';
        display: inline-block;
        height: 1rem;
        right: 2vw;
        position: relative;
        top: 0.15em;
        color: #F6F6F6;
        width: 1rem;
        transition: transform 150ms;
    }
    .chevron-up::before {
        transform: rotate(316deg);
    }
  
    .chevron-down::before {
        top: 0;
        transform: rotate(135deg);
    }
  
}
.content.closed {
    padding: 0;
    overflow: hidden;
    transition: 200ms;
    background-color: transparent;
}

.content{
    padding: 1.3vw;
    background-color: #F6F6F6;
    line-height: 150%;
    transition:  200ms;
    overflow: hidden;

    ul li{
        list-style-type: none;
    }
}

@media(max-width: 425px){
    .large-size{
        width: 89vw;
    }
    .medium-size{
        width: 90vw;
    }
    .header{
        padding: 2vw;
        span{
            line-height: 190%;
        }
    }
}