#layout{
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#children {
    flex-grow: 1;
  }
nav{
    display:flex;
    text-decoration: none; 
    justify-content: space-between;
    margin: 4vh auto;
    width: 90vw;
    img{
        width: 10vw;
    }
    ul{
        display: flex;
        margin-left: 22%;
    }
    a {
        display: block;
        color: #FF6060;
        margin: 0 2vw;
        text-decoration: none;
        font-family: 'Montserrat';
    }
    .active-link{
        text-decoration: underline;
    }
}
footer{
    display: flex;
    flex-grow: 1;
    bottom: 0px;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 13vh;
    height: 13vh;
    margin: 2vh 0 0 0;

    img{
        width: 100px;
    }
    p{
        color: white;
        margin: 2vh 0 0 0;
    }
}

@media(max-width: 425px){

#layout{
    min-height: auto;
    nav {    
        justify-content: end;    
        img{
            position: absolute;
            min-width: 34%;
            left: 8%;
        }

        a{
            font-size: .9rem;
            margin: 1.4vh 2vw;
            text-transform: uppercase;
        }

    }
    footer{
        min-height: 165px;
        height: auto;
        padding: 3vh 0 2vh 0;
        margin: 0;
        p{
            width: 30vw;
            text-align: center;
            margin: 2vh 0 0 0;
            font-size: 12px;
        }
    }
}
}

  