#profile-thumbnail{
    display: flex;
    align-items: center;
    cursor: pointer;

    h4{
        margin: 0 1rem 0 0;
        max-width: 150px;
    }
    img{
        border-radius: 60px;
        width: 90px;
        height: 90px;
    }
}

@media (max-width: 425px){
    #profile-thumbnail{
        justify-content: flex-end;
        h4{
            margin: 0;
            padding: 0 10% 0 0;
            max-width: 150px;
            width: 60%;
            text-align: end;
        }
        img{
            width: 52px;
            height: 52px;
        }
    }
}