
@import 'index';

#tag{
    display: inline;
    color: white;
    cursor: pointer;
    background-color: $primary-color;
    padding: 5px 30px;
    min-width: 100px;
    text-align: center;
    border-radius: 10px;
}

@media(max-width: 768px){
    #tag{
        font-size: 14px;
        padding: 5px 25px;
    }
}